#footer {
    align-items: center;
    background-color: var(--azul-oscuro);
    box-shadow: 0px -8px 15px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
}

.payment-methods {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.payment-methods h4 {
    color: var(--blanco);
    font-size: 1.8rem;
    margin-top: 12px;
    opacity: 90%;
}

.icons-payment {
    display: inline-block;
    margin: 10px 12px;
}

.icons-payment svg {
    opacity: 96%;
}

.politicas {
    margin: 10px 0;
    color: var(--violeta);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.politicas a:hover {
    color: var(--blanco);
    opacity: 90%;
}

.politicas a {
    color: inherit;
    text-decoration: none;
}

.politicas span {
    margin: 0 12px;
}

.copyright {
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
    text-align: center;
}

@media (max-width:850px) {

    .politicas,
    .copyright {
        font-size: 1.4rem;
    }
}