#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 200px; */
    background-color: var(--azul-oscuro);
    box-shadow: 0px -8px 15px rgba(0, 0, 0, 0.5);
}

.payment-methods {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.payment-methods h4 {
    color: var(--blanco);
    font-size: 1.8rem;
    margin-top: 12px;
    opacity: 90%;
}

.payment-methods ul {
    display: flex;
}

.payment-methods ul li a {
    list-style: none;
    margin: 10px 12px;
}

.icons-payment {
    display: inline-block;
}

.icons-payment svg {
    opacity: 96%;
}

.politicas {
    margin: 10px 0;
    display: flex;
    width: 100vw;
    justify-content: center;
    flex-wrap: wrap;
}

.politicas a {
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--violeta);
}

.politicas span {
    color: var(--violeta);
    font-size: 1.6rem;
    margin: 0 12px;
}


.copyright {
    font-size: 1.6rem;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
    text-align: center;
}

@media (max-width:850px) {

    .politicas a,
    .copyright {
        font-size: 1.4rem;
    }
}