.form-container {
    margin-bottom: 80px;
    margin-top: 60px;
    width: 600px;
}

.form-container iframe {
    border: none;
    height: 340px;
    width: 100%;
    margin-bottom: 60px;
    border-radius: 10px;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.login {
    display: flex;
    flex-direction: column;
    background-color: rgba(8, 29, 40, 0.3);
    border-radius: 12px;
    padding: 30px;
}

.form-info {
    display: flex;
    flex-direction: column;
}

.main-contact {
    display: flex;
    justify-content: center;
}

.btn {
    height: 50px;
    cursor: pointer;
    opacity: 80%;
    font-size: 1.6rem;
    font-weight: bold;
}

.main-login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.primary-button {
    background-color: rgba(103, 75, 210, 1);
    border-radius: 10px;
    margin-top: 6px;
    color: var(--blanco);
    border: 1px var(--gris) solid;
}

.secondary-button {
    background-color: rgba(8, 29, 40, 0.3);
    border-radius: 8px;
    border: 1px solid var(--violeta);
    color: var(--violeta);
}

.signup-button {
    margin-top: 60px;
}

.title {
    color: var(--violeta);
    font-size: 2.8rem;
    text-align: center;
}

.form-info {
    display: flex;
    flex-direction: column;
}

.input {
    background-color: rgba(54, 54, 73, 0.4);
    border: 1px var(--gris) solid;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    height: 38px;
    margin-bottom: 20px;
    outline: none;
    padding-left: 12px;
    font-size: 1.8rem;
}

.label {
    color: rgba(255, 255, 255, 1);
    margin-bottom: 8px;
}

.span {
    padding-top: 26px;
    padding-bottom: 12px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.4rem;
}

.message {
    background-color: rgba(54, 54, 73, 0.4);
    border: 1px var(--gris) solid;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    margin-top: 6px;
    outline: none;
    padding-left: 12px;
    font-size: 1.8rem;
    padding-top: 8px;
    font-family: inherit;
}

.btn a {
    color: var(--violeta);
    text-decoration: none;
    width: 100%;
    display: inline-block;
    height: 100%;
    padding-top: 15px;
    font-weight: bold;

}

@media (max-width: 650px) {
    .form-container {
        height: 100%;
        margin: 0;
    }

    .login {
        height: 100%;
    }

    .contact-form {
        height: 100%;
        justify-content: space-between;
    }
}