.main-container {
    margin: 70px 0;
}



.cards-container {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, 380px);
    place-content: center;
}

.product-card {
    background-color: rgba(8, 29, 40, 0.5);
    border-radius: 4px;
    padding: 18px;
}

.product-img {
    border-radius: 4px;
    width: 100%;
}

.product-title {
    color: var(--blanco);
}

.product-card figure figcaption {
    color: var(--blanco);
    margin-top: 10px;
}

.product-card div {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.add-to-cart {
    background: linear-gradient(to bottom, var(--purpura), var(--violeta));
    border-radius: 18px;
    color: var(--blanco);
    text-align: center;
    text-decoration: none;
    padding: 8px 20px;
    width: 40%;
}

.card-fav {
    border: solid 1px white;
    border-radius: 4px;
    width: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-fav svg {
    width: 70%;
    height: 70%;
}

.favicon.active {
    fill: #ff3040;
    stroke: none;
}

.favicon.active:hover {
    stroke: none;
}

.card-fav:hover {
    border-color: rgba(255, 255, 255, 0.5);
    ;

    svg:not(.active) {
        stroke: rgba(255, 255, 255, 0.5);
    }

}

@media (max-width:800px) {
    .cards-container {
        grid-template-columns: repeat(auto-fill, 160px);
    }

    .product-card figure figcaption {
        font-size: 1.2rem;
        margin-bottom: 8px;
    }

    .add-to-cart {
        border-radius: 16px;
        padding: 0;
        width: 40%;
        text-align: center;
        line-height: 30px;

        p {
            font-size: 1.1rem;
        }

    }
}