* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --violeta: rgba(103, 75, 210, 1);
    --azul-oscuro: rgba(8, 29, 40, 1);
    --azul: #1a283a;
    --gris: rgba(54, 54, 73, 1);
    --purpura: #a961d9;
    --blanco: #ffffff;
}



html {
    font-size: 62.5%;
}

body {
    font-family: "Nunito", sans-serif;
    background-color: #182437;
    font-size: 1.6rem;
}

li {
    list-style: none;
}



.title-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    cursor: pointer;
}

.decoration {
    position: relative;
}

.decoration::before {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, var(--purpura), var(--violeta));
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
}

.decoration:hover::before {
    transform: scaleX(1);
}

.title-container[data-animation="center"] .decoration::before {
    transform-origin: center;
}